@import './base.css';
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


#app {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}