@import './base.css';
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');

/* #app {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
} */

#app {
      font-family: "Mitr", sans-serif;
  font-weight: 420;
  font-style: normal;
}